html,
body,
#root {
  height: 100%;
  background-image: url("./images/stadium.jpeg");
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.App .card {
  max-width: 400px;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.733);
}

label.radio {
  display: block;
  text-align: left;
  padding: 15px;
  margin-bottom: 5px;
  font-size: 20px;
}

label.radio + .radio {
  margin-left: 0;
}

label.radio input {
  margin-right: 10px;
}
.nameInput {
  font-family: Helvetica, Arial, sans-serif;
  padding: 1rem;
  border-radius: 0.3rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  margin-bottom: 5px;
}
